<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title></title>
<link href="{{$TPL}}/css/public.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="{{$TPL}}/js/jquery-2.0.3.js"></script>
<script type="text/javascript" src="{{$TPL}}/js/public.js"></script>
<script type="text/javascript" src="{{$TPL}}/js/serviceFind.js"></script>
<body>
<div id="map">
	<span class='title'>查询维修记录</span>
</div>
<div id="content" style="text-align:center;">
	<div id='notice'>
		<h2>
			维修钻具的设备编号:
		</h2>
	</div>
	<div style='width:800px;text-align:center;margin:0 auto;'>
		<input type="text" name="epc" class='dril' id='epc'/>
		<input type='button' id='single' value="扫描" class='green' style="width:10%;height:35px;"/>
	</div>
</div>
</body>
</html>
